header{
    height: 60px;
    width: 100%;
    background-color: #1f3468;
    position: relative
}

h1{
    color: #ffcb05;
    padding:10px;
}

.contactDesktop{
    color: white;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}

.contactMobile{
    display: none;
}

.contactCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 0 10px; 
    border: 1px solid white;
    overflow: hidden;
    cursor: pointer;
}

.ulMenu{
    position: absolute;
    top: 60px;
    left: 0;
    list-style: none;
    width: 100%;
    z-index: 2;
    background-color: #1f3468;
    li{
        padding: 10px;
        color: #ffcb05;
        font-weight: bold;
        border-top: 1px solid white;

    }a{
        color: #ffcb05;
    }
}


@media only screen and (max-width : 991px) {
    h1{
        font-size: 25px; 
    }

    .contactDesktop{
        display: none;
    }

    .contactMobile{
        display: block;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: white;
        animation: rotation 40s linear infinite;
        border-radius: 50%;
        margin-left: auto;
        margin-right: 10px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
