.grass{
    background-color: #3da224;
}

.grassText{
    color: #3da224;
}

.grassshadow{
    box-shadow: 2px 2px 10px #3da224;
}

.grassBorder{
    border-bottom: 2px solid  #3da224;
}

.fire{
    background-color: #e72324; 
   
}

.fireText{
    color:  #e72324; 
}

.fireshadow{
    box-shadow: 2px 2px 10px  #e72324;
}

.fireBorder{
    border-bottom: 2px solid  #e72324;
}

.water{
    background-color: #2481ef;
    
}

.waterText{
    color: #2481ef;
}

.watershadow{
    box-shadow: 2px 2px 10px  #2481ef;
}

.waterBorder{
    border-bottom: 2px solid  #2481ef;
}

.electric{
    background-color: #fac100;
}

.electricText{
    color: #fac100;
}

.electricshadow{
    box-shadow: 2px 2px 10px #fac100;
}

.electricBorder{
    border-bottom: 2px solid  #fac100;
}

.poison{
    background-color: #923fcc; 
}

.poisonText{
    color: #923fcc; 
}

.poisonshadow{
    box-shadow: 2px 2px 10px #923fcc; 
}

.poisonBorder{
    border-bottom: 2px solid  #923fcc;
}

.bug{
    background-color: #92a212;
}

.bugText{
    color: #92a212;
}

.bugshadow{
    box-shadow: 2px 2px 10px #92a212;
}

.bugBorder{
    border-bottom: 2px solid  #92a212;
}

.normal{
    background-color: #a0a2a0;
}

.normalText{
    color: #a0a2a0;
}

.normalshadow{
    box-shadow: 2px 2px 10px #a0a2a0;
}

.normalBorder{
    border-bottom: 2px solid  #a0a2a0;
}

.fighting{
    background-color: #ff8100;
}

.fightingText{
    color: #ff8100;
}

.fightingshadow{
    box-shadow: 2px 2px 10px #ff8100;
}

.fightingBorder{
    border-bottom: 2px solid  #ff8100;
}

.dragon{
    background-color: #4f60e2;
}

.dragonText{
    color: #4f60e2;
}

.dragonshadow{
    box-shadow: 2px 2px 10px #4f60e2;
}

.dragonBorder{
    border-bottom: 2px solid  #4f60e2;
}

.psychic{
    background-color: #ef3f7a;
}

.psychicText{
    color: #ef3f7a;
}

.psychicshadow{
    box-shadow: 2px 2px 10px #ef3f7a;
}

.psychicBorder{
    border-bottom: 2px solid  #ef3f7a;
}

.ground{
    background-color: #92501b;
}

.groundText{
    color: #92501b;
}

.groundshadow{
    box-shadow: 2px 2px 10px #92501b;
}

.groundBorder{
    border-bottom: 2px solid  #92501b;
}

.normal{
    background-color: #a8a878;
}

.normalText{
    color: #a8a878;
}

.normalshadow{
    box-shadow: 2px 2px 10px #a8a878;
}

.normalBorder{
    border-bottom: 2px solid  #a8a878;
}

.flying{
    background-color: #82baef;
}

.flyingText{
    color: #82baef;
}

.flyingshadow{
    box-shadow: 2px 2px 10px #82baef;
}

.flyingBorder{
    border-bottom: 2px solid  #82baef;
}

.rock{
    background-color: #b0aa82;
}

.rockText{
    color: #b0aa82;
}

.rockshadow{
    box-shadow: 2px 2px 10px #b0aa82;
}

.rockBorder{
    border-bottom: 2px solid  #b0aa82;
}

.ghost{
    background-color: #703f70;
}

.ghostText{
    color: #703f70;
}

.ghostshadow{
    box-shadow: 2px 2px 10px #703f70;
}

.ghostBorder{
    border-bottom: 2px solid  #703f70;
}

.ice{
    background-color: #3dd9ff;
}

.iceText{
    color: #3dd9ff;
}

.iceshadow{
    box-shadow: 2px 2px 10px #3dd9ff;
}

.iceBorder{
    border-bottom: 2px solid  #3dd9ff;
}

.fairy{
    background-color: #ef70ef;
}

.fairyText{
    color: #ef70ef;
}

.fairyshadow{
    box-shadow: 2px 2px 10px #ef70ef;
}

.fairyBorder{
    border-bottom: 2px solid  #ef70ef;
}